In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo de Spark")\
    .getOrCreate()

data = [("Ana", 20, "Matematica"),
        ("Pedro",22, "Física"),
        ("Maria", 19, "Química"),
        ("Lucas", 21, "Biologia"),
        ("João", 22, "Matemaica")
        ]
columns = ["Nome", "Idade", "Curso"]

df = spark.createDataFrame(data, columns)

df.createOrReplaceTempView("Estudantes")

print("Estudantes com mais de 20 Anos")
spark.sql("SELECT * FROM Estudantes WHERE Idade > 20").show()

print("Número de Estudante por Curso")
spark.sql("SELECT Curso, COUNT(*) AS Total FROM Estudantes GROUP BY Curso").show()

print("Idade Media dos Estudantes:")
spark.sql("SELECT AVG(Idade) AS IdadeMedia FROM Estudantes").show()

spark.stop()
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Exemplo de Spark")\
    .getOrCreate()

data = [("Ana", 20, "Matematica"),
        ("Pedro",22, "Física"),
        ("Maria", 19, "Química"),
        ("Lucas", 21, "Biologia"),
        ("João", 22, "Matemaica")
        ]
columns = ["Nome", "Idade", "Curso"]

df = spark.createDataFrame(data, columns)

df.createOrReplaceTempView("Estudantes")

print("Estudantes com mais de 20 Anos")
spark.sql("SELECT * FROM Estudantes WHERE Idade > 20").show()

print("Número de Estudante por Curso")
spark.sql("SELECT Curso, COUNT(*) AS Total FROM Estudantes GROUP BY Curso").show()

print("Idade Media dos Estudantes:")
spark.sql("SELECT AVG(Idade) AS IdadeMedia FROM Estudantes").show()

spark.stop()

25/03/29 00:35:00 WARN Utils: Your hostname, codespaces-205cd0 resolves to a loopback address: 127.0.0.1; using 10.0.3.86 instead (on interface eth0)
25/03/29 00:35:00 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/29 00:35:01 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Estudantes com mais de 20 Anos

+-----+-----+---------+
| Nome|Idade|    Curso|
+-----+-----+---------+
|Pedro|   22|   Física|
|Lucas|   21| Biologia|
| João|   22|Matemaica|
+-----+-----+---------+

Número de Estudante por Curso
+----------+-----+
|     Curso|Total|
+----------+-----+
|    Física|    1|
|Matematica|    1|
|  Biologia|    1|
|   Química|    1|
| Matemaica|    1|
+----------+-----+

Idade Media dos Estudantes:
+----------+
|IdadeMedia|
+----------+
|      20.8|
+----------+

Estudantes com mais de 20 Anos

+-----+-----+---------+
| Nome|Idade|    Curso|
+-----+-----+---------+
|Pedro|   22|   Física|
|Lucas|   21| Biologia|
| João|   22|Matemaica|
+-----+-----+---------+

Número de Estudante por Curso
+----------+-----+
|     Curso|Total|
+----------+-----+
|    Física|    1|
|Matematica|    1|
|  Biologia|    1|
|   Química|    1|
| Matemaica|    1|
+----------+-----+

Idade Media dos Estudantes:
+----------+
|IdadeMedia|
+----------+
|      20.8|
+----------+